.icb-jvm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden; /* Prevent overflow */
  height: 100vh; /* Ensure the container takes the full height of the screen */
}

.icb-jvm-container .carousel {
  width: 66%; /* Two-thirds of the screen */
  height: 521px; /* Ensure it takes the full height of the container */
}

.footer-image {
  margin-top: 0.1px; /* Add some space between the carousel and the footer image */
}