@import './variables.css'; 
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #6096BA;
}

html {
  scroll-behavior: smooth;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo2 img {
  height: 40px;
  transform: scale(1.5);
}

.main_logo img {
  height: 40px;
  transform: scale(1.5);
  margin-top: 5px;
  margin-left: 40px;
}

.church-name {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  color: white;
  margin-left: 10px;
  font-weight: bold;
}

.nav {
  display: flex;
  align-items: center;
}

.nav a,
.dropbtn {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav a:hover,
.dropbtn:hover {
  color: #bbb;
  transform: scale(1.1);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
